* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    align-items: center;
    background-image: url("../img/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position:absolute; 
    top: 20px;
    left: 30px;
}
.chess_game:hover{
    color: red;
}
.link{
    list-style:none;
    background-color: rgb(104, 85, 85);
    border-radius: 20%;
    padding: 12px;
    font-size: 20px;
    color: white;
    margin-top: 8px;
}
a{
    text-decoration: none;
    color: white;
}
ul a :hover{
    background-color: rgb(223, 60, 60);
}

#message{
    color: white;
    background-color: black;
    padding: 30px 0 40px 0;
}

#content{
    padding-bottom: 50px;
    background: linear-gradient(black, rgb(252, 252, 252, .0));
    color: white;
}

.spacing{
    padding: 10px;
}
.button{
    padding: 5px 10px 5px 10px;
}